---
layout: archive
title: "WU's Group"
permalink: /team/
author_profile: true
---

<style>
    .team-group {
        margin-bottom: 40px;
    }

    .team-group-name {
        border-bottom: 2px #eee solid;
        padding-bottom: 8px;
    }

    .member h3 {
        display: inline;
        margin-top: 10px;
        font-size: 0.85em;
    }

    .member p {
        margin: 5px 0;
        font-size: 0.75em;
        color: #666;
    }

    /* Responsive design */
    @media (max-width: 768px) {
        .members {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
    }
</style>


<div class="container">

    {% for group in site.data.team %}
    <section class="team-group" id="{{ group[0] }}">
        <h2 class="team-group-name">{{ group[0] }}</h2>
        <ul class="members">
            {% for member in group[1] %}
            <li class="member">
                {% if member.homepage contains 'http' %}
                <h3><a href="{{ member.homepage }}" target="_blank">{{ member.name }}{% if member.name_cn %}</br>{{ member.name_cn }}{% endif %}</a></h3>{% else %}<h3>{{ member.name }}{% if member.name_cn %}</br>{{ member.name_cn }}{% endif %}</h3>{% endif %}{% if member.position != blank %}, {{ member.position }}{% endif %}, {{ member.admission }}
                <ul>
                    {% if member.education != blank %}
                    <li>{{ member.education }}</li>
                    {% endif %}
                    {% if member.awards != blank %}
                    <li>Awards: {{ member.awards }}</li>
                    {% endif %}
                    {% if group[0] != "Postdoc" and member.publications != blank %}
                    <li>Publications: {{ member.publications }}</li>
                    {% endif %}
                    {% if member.next != blank %}
                    <li>Next: {{ member.next }}</li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>